{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src="https://kit.fontawesome.com/412ebc4070.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
        </style> 
        
</head>
<script src={% static 'script/plotly-latest.min.js' %}></script>
<p class="domine" hidden>{{domine}}</p>
<body>
    
    <h1 class="title"> <span class='fas fa-charging-station'></span> EB Manager</h1>
    <nav>
        <span>MEATER:</span>
        <a onclick="" href="">613</a>
        <a onclick="" href="">722</a>
        <a onclick="" href="">723</a>
    </nav>
    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <script src={% static 'script/script.js' %}></script>
    <div class="table-continer">
        <table id="data">
            <tr>
                <th>Date</th>
                <th>Unit</th>
                <th>Ammount</th>
                <th>Days</th>
                <th></th>
            </tr>

        </table>
    </div>
</body>
</html>
