.title span{
    margin-right: 20px;
    margin-left: 20px;
    transform: scale(1.5);
    color: rgb(15, 36, 104);
}

nav{
    background-color: rgb(22, 26, 75);
    color:white;
    padding: 12px;
    padding-left: 0;

}

nav a{
    padding:12px 30px;
    font-weight: bold;
    color: lightgray;
    text-decoration: none;
}

nav a:hover{
    color:white;
    background-color: black;

}

nav span {
    padding: 12px;
    background-color: rgb(15, 36, 104);
    font-weight: bold;
    color:white;
}